<html>
<head>
<title>JavaScript单击按钮调用函数</title>

<script language="javascript">
function fun(){
	alert("这是单击按钮后执行的函数！");		
}
</script>


<script src="../static/js/jquery.js" type="text/javascript"></script>
   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../static/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/flat-ui.min.js"></script>
     <script src="/static/js/application.js"></script>


<script language="javascript">
     function fuckyou(){

     $.ajax({
		                  alert('嘿嘿，已被添加')
				});
}
</script>




</head>
<body>
<input type="button" value="单击调用函数" onClick="fuckyou()">
</body>
</html>
